.logo {
  font-family: var(--logo-text);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}

.adress__logo--color {
  color: var(--logoblueword-color);
}
